xfooter {display: none !important;}

img[alt$=">"] {float: right;}

img[alt$="<"] {float: left;}

img[alt$="><"] {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
  float: none !important;
}

video {
  width: 100%; 
  max-width: 400px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 30px;
}

#main_content {
    padding-top: 0px;
}
